<p>Congratulations!</p>
	
<p>You have added your <%=@selected_service%> credentials (<%=@user_name%>) to MobileTools HablaCentro. Any text message you send now starting with the keyword <em><%=Site.find_by_site(@service).keyword%></em> will be posted to <%=@selected_service%>.</p>

<p>Enjoy!</p>

<p>Sincerely,</p>

<p>MobileTools HablaCentro<br/>
http://www.hablacentro.com<br/>
http://technology.hablacentro.com</p>