/* start static */

.staticContainer {
	margin-top:10px;
	width:920px;
}

.staticContainer .staticBody h1, .staticContainer .staticBody h2, .staticContainer .staticBody h3{
	background:none;
	border: none;
	padding-left:0px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #ccc;
}

.staticContainer .staticHeading{
	text-transform:capitalize;
}

.staticContainer .staticHeading h1{
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
	padding-bottom:5px;
}

.staticContainer .staticDescription{
	float:right;
	font-size:11px;
	width:25%;
	margin: 10px 0px 10px 10px;
}

.staticContainer .staticBody{
	float:left;
	width:70%;
	margin:10px;
}

.staticContainer .staticBody ul, .staticContainer .staticBody ol{
	display:block;
	margin-bottom:20px;
}

.staticContainer .staticBody ul li, .staticContainer .staticBody ol li{
	margin:0px 10px 3px 30px;
}
/* end static */