/*   
	Simple Blog - Basic CSS
*/

/* subscribe container */

.subscribeHeader {
	background:#f9f9f9;
	border:1px solid #ccc;
}

.subscribeContainer{
	border:1px solid #ccc;
	background: none;
	width:100%;
	margin:-11px 10px 10px 0px;
	padding: 10px;
}

.subscribeContainer .subscribeLinkRow{
	list-style-type:none;
	width:100%;
}

.subscribeContainer .subscribeLinkRow li{
	display:inline;
}

.subscribeContainer .subscribeLinkRow li a{
	padding-left:13px;
}

.subscribeContainer .subscribeLinkRow li a img{
	border:1px solid #ddd; 
	width:50px;
}

.subscribeContainer .rssFeeds{
	display:block;
	margin-top:5px;
	padding-top:5px;
	border-top:1px solid #999;
	margin-left:10px;
	clear:both;
	height:100px;
}

.subscribeContainer .rssFeeds li{
	list-style-type:none;
	float:left;
	display:inline;
	padding-left:0px;
	line-height:30px;
	height:35px;
	margin:0px;
	width:50%;
}

.subscribeContainer .rssFeeds .rssHeader{
	font-size:14px;
	padding-top:10px;
	padding-bottom:0px;
	margin-bottom:-10px;
	line-height:20px;
	font-weight:bold;
	display:block;
	width:100%;
}

.subscribeContainer .rssFeeds li a{
	background: url("/images/rss.png") no-repeat;
	text-transform:capitalize;
	padding-left:25px;
	line-height:30px;
	padding-top:3px;
	padding-bottom:7px;
	font-size:12px;
	margin-right:0px;
}

/* end subscribe container */

/* landing page */

.searchPage, .postsPage {
	width:920px;
	background:#f9f9f9;
}

.searchPage .leftSide, .postsPage .leftSide {
	float:left;
	width:64%;
	margin:10px;	
}

.searchPage .leftSide p{
	margin-top:10px;	
}

.postsPage .rightSide, .searchPage .rightSide {
	float:right;
	width:30%;
	margin:10px;
	padding-left:8px;
}

/* end landing page*/


/* tabs page */

.tabHeader {
	list-style-type:none;
	margin:10px 0px 0px 0px;
}

.tabHeader .tab, .tabHeader .tabSelected {
	border:1px solid #666;
	padding:13px 20px;
	display:inline;
	margin:0px;
}

.tabHeader .tab a, .tabHeader .tabSelected a {
	font-size:16px;
	line-height: 20px;
}

.tabHeader .tab a{
	color: #bbb;
}


.tabHeader .actionSideLinks{
	font-size:16px;
	float:right;
	border:none;
	padding-right:10px;
}

.tabHeader .actionSideLinks a{
	text-transform:capitalize;
}

.tabHeader .tabSelected{
	border-bottom:1px solid #fff;
}

.tabHeader .tabSelected a{
	color: #333;
}

.tabBody{
	border:1px solid #666;
	padding:10px;
	margin:11px 0px 0px 0px;
}

/* end search page */


/* posts */
.posts, .postContainer .posts{
	width:100%;
	list-style:none;	
	padding:10px 0px 10px 10px;
}

.postContainer .posts{
	margin-left:-30px;
}

.posts li, .searchPage .posts li{
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:15px;
	margin-top:5px;
	display:block;
	min-height:100px;
	clear:both;
}

.posts li .adminLinksSmall{
	display:block;
	clear:both;
}

.searchPage .posts li {
	width:545px;
}

.profileContainer .posts li{
	width:605px;
}

.posts .unpublishedStory{
	padding:5px;
	background:#f9f9f9;
	border: 1px solid #ddd;
}

.leftSide .posts li .featuredImage, .postContainer .posts li .featuredImage{
	width:260px;
	height:120px;
	padding:5px;
	margin: 0px 10px 0px 0px;
	text-align:center;
	border:1px solid #ddd;
	float:left;
}

.postContainer .posts li .featuredImage{
	width:130px;
	height:60px;
}

.leftSide .posts li .featuredImage img, .postContainer .posts li .featuredImage img{
	border:none;
	width:260px;
	padding:0px;
	margin:0px;
}

.postContainer .posts li .featuredImage img{
	width:130px;
}

.leftSide .posts li .logo img{
	width:260px;
}

.rightSide .posts li .featuredImage{
	width:260px;
	margin: 0px 0px 5px 0px;
	text-align:center;
	border:1px solid #ddd;
}

.rightSide .posts li .featuredImage img{
	width:240px;
	padding:0px;
}

.posts li .postTitle{
	font-size:14px;
	padding-bottom:3px;
	text-transform: capitalize;
}

.posts li .postAuthor{
	padding-bottom:10px;
	font-size: 11px;
}

.posts li .postBody{
	font-size:12px;
	padding-bottom:3px;
	margin-top:5px;
}

.posts li .postMetaData{
	color:#333;
	font-size:11px;
	text-align:right;
}

.posts li .postMetaData .postCreatedAt, .posts li .postMetaData .postComments{

}

.posts li .postMetaData .metaDataSeparator{
	padding: 0px 5px 0px 5px;
}

.postContainer .postBody .posts li .featuredImage img{
	width:120px;
}

/* end posts list*/

/* form page */
.formContainer{
	margin-top:10px;
	width:920px;
}

.profileSettings .formContainer {
	width:900px;
}

.formContainer .formHeading, .comments .formHeading{
	text-transform:capitalize;
}

.formContainer .formHeading h1, .comments .formHeading h1{
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
	padding-bottom:5px;
}

.formContainer .formDescription{
	float:right;
	font-size:11px;
	width:20%;
	margin: 10px 0px 10px 10px;
}

.formContainer .formDescription .required, .comments .formDescription .required{
	font-size:12px;
	border-bottom:1px dotted #ddd;
	padding-bottom:15px;
}

.formContainer .formDescription .required span, .comments .formDescription .required span{
	padding-right:3px;
	font-weight:bold;
	color:red;
}

.formContainer .formDescription .actionLinks{
	text-transform:capitalize;
	font-size:14px;
}

.formContainer .formBody, .comments .formBody{
	float:left;
	width:75%;
	margin:10px;
}

.comments .formBody h3{
	background:none;
	border:none;
	border-bottom:1px solid #eee;
}

.formContainer .formBody .formErrors{
	padding:10px;
	border:1px solid #ddd;
}

.formContainer .formBody .formErrorHeading{
	text-transform:uppercase;
	background:none;
	border:none;
}

.formContainer .formBody .formErrorsList{
	padding-left:50px;
}

.formContainer .formBody .row{
	display:block;
	clear:both;
	margin:15px;
	padding-bottom:5px;
}

.formContainer .formBody .row .heading{
	background:none;
	border:none;
	border-bottom:1px solid #ddd;
}

.formContainer .formBody .row label{
	float:left;
	clear:both;
	font-weight:bold;
	text-align: right;
	padding-right:10px;
	width:200px;
	text-transform:capitalize;
}

.formContainer .formBody .row .suggestTags{
	float:right;
	text-align:right;
	text-transform:capitalize;
	font-size:10px;
	color: #666;
	width:200px;
}

.formContainer .formBody .row .suggestTags span{
	float:right;
	padding-top:5px;
	margin-right:10px;
	cursor:pointer;
}

.formContainer .formBody .row .suggestTags img{
	width:11px;
	padding:0px;
	margin-top:7px;
	margin-right:5px;
	float:right;
	display:inline;
	border:none;
}

.formContainer .formBody .row label .required {
	color:red;
	float:left;
	text-align:right;
	font-weight:bold;
}

.formContainer .formBody .row label .small{
	float:left;
	width:200px;
	font-size:10px;
	color:#666;
}

.profileSettings .formContainer .formBody .row .label, .profileSettings .formContainer .formBody .row label .small{
	width:150px;
}

.formContainer .formBody .row input, .formContainer .formBody .row textarea, .formContainer .formBody .row select{
	width:440px;
}

.formContainer .formBody .row input#termsOfService, .formContainer .formBody .row input.normalCheckbox{
	margin-top:3px;
	width:20px;
}

.formContainer .formBody .row .sites{
	margin-left:210px;
}

.formContainer .formBody .row .radioButton{
	width:10px;
}
	
.formContainer .formBody .row .radioButtonText{
	display:inline;
	text-transform:capitalize;
	padding-right:10px;
	padding-left:5px;
}

.submitButton{
	padding: 5px;
	font-size:14px;
	line-height:20px;
}

.formContainer .formBody .row select, .formContainer .formBody .row select option, .optionAlt{
	text-transform:capitalize;
}

.formContainer .formBody .facebookRegister, .formContainer .formBody .facebookLogin{
	border-bottom:1px solid #999;
	padding-bottom:25px;
	margin-bottom:25px;
}

.formContainer .formBody .facebookRegister a, .formContainer .formBody .facebookLogin a{
	background: url("/images/facebook_register.png") no-repeat;
	padding:7px 60px 5px 32px;
	margin:10px;
	color:white;
	font-weight:bold;
	text-transform:capitalize;
}

.formContainer .formBody .facebookLogin a{
	padding:7px 60px 5px 35px;
}
/* end form page */

/* comments */

.comments {
	margin: 10px 0px 0px -10px;
	padding:0px;
	width:700px;
}

.comments .adminLinksSmall{
	margin-left:5px;
	width:610px;
}

.comments .noComments {
	margin:10px;
	width:600px;
	clear:both;
}

.comments .comment{
	margin-top:10px;
	padding:5px 5px 5px 15px;
	width:610px;
	clear:both;
}

.comments .comment p{
	margin-left:0px;
	margin-left:0px;
}

.spam {
	background:#f9f9f9;
	border:1px solid red;
	padding:10px;
}

.comments .comment .commentMetaData{
	width:610px;
	border-top: 1px solid #eee;
	padding-top: 3px;
	font-size: 10px;
}

.comments .commentsLevel1{
	border-left: 1px solid #eee;
	margin-left:25px;
	width: 570px;
}

.comments .commentsLevel1 .adminLinksSmall{
	margin-left:5px;
	width:610px;
}

.comments .commentsLevel2{
	margin-left:25px;
	width: 610px;
	border-left: 1px solid #eee;
}

.comments .commentsLevel2 .adminLinksSmall{
	margin-left:5px;
	width:605px;
}

.comments .commentLevel1{
	margin-left:0px;
	width: 635px;
}

.comments .commentLevel2{
	margin-left:0px;
	width: 595px;
}

.comments p{
	margin:5px 0px 0px 10px;
}

.comments .comment .commentMetaData .commentMetaDataSeparator{
	margin: 0px 5px 0px 5px;
}

.comments .comment .commentMetaData .replyButton{
	color: #14b5eb;
	cursor:pointer;
}

.comments .comment .commentMetaData .replyButton:hover{
    color: #75cdeb;
	text-decoration:underline;
}

.comments .commentsHeading, .comments .formBody h3{
	margin-top:10px;
	width:590px;
	background:none;
	border:none;
	border-bottom:1px solid #eee;
}

.comments .commentsHeading{
	width:600px;
	font-size: 18px;
}

.comments .formHeading{
	text-transform:capitalize;
}

.comments .formHeading h1{
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
	padding-bottom:5px;
}

.postBody .comments .formBody{
	float:left;
	width:700px;
}

.comments .formBody .formErrors{
	padding:10px;
	border:1px solid #ddd;
}

.comments .formBody .formErrorHeading{
	text-transform:uppercase;
	background:none;
	border:none;
}

.comments .formBody .formErrorsList{
	padding-left:50px;
}

.comments .formBody .row{
	display:block;
	clear:both;
	margin:15px 15px 15px 0px;
	padding-bottom:5px;
}

.comments .formBody .row label{
	float:left;
	font-weight:bold;
	text-align: right;
	padding-right:10px;
	margin-bottom:5px;;
	width:150px;
}

.comments .formBody .row label .required{
	width:3px;
	color:red;
	float:left;
	text-align:right;
	font-weight:bold;
	vertical-align:top;
}

.comments .formBody .row label .small{
	float:right;
	width:150px;
	font-size:10px;
	color:#666;
}

.comments .formBody .row input, .comments .formBody .row textarea, .comments .formBody .row select{
	width:440px;
}

.searchPage .comments, .searchPage .comments .adminLinksSmall, .searchPage .comments .comment, .searchPage .comments .commentMetaData{
	width: 545px;
}

.searchPage .tabBody .comments li{
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:15px;
	margin-top:5px;
}

/* end comments */


/* admin links */

.adminLinks{
	margin: 10px 0px 10px 10px;
	font-size:14px;
	padding-bottom:10px;
	border:1px solid #ddd;
	text-transform:capitalize;
}

.adminLinksSmall{
	font-size:9px;
	margin-top:2px;
	margin-bottom:5px;
	padding:3px 5px 3px 5px;
	border-bottom:2px solid #999;
	border-top: 0px dotted #ddd;
	text-transform:capitalize;
}

.adminLinksSmall .adminPre{
	font-weight:bold;
}

.adminLinks h3{
	background:none;
	font-size:16px;
	margin:0px 0px 2px 0px;
	padding-bottom:2px;
	border:none;
}

.adminLinks a:hover{
	text-decoration:underline;
}

.adminLinksSmall .editLink, .adminLinksSmall .publishLink, .adminLinksSmall .deleteLink, .adminLinksSmall .activeLink, .adminLinksSmall .linkSeparator{
	padding:0px 0px 0px 2px;
}

.adminLinksSmall .deleteLink{
	color:red;
}

.adminLinks .editLink, .adminLinks .publishLink, .adminLinks .deleteLink, .adminLinks .activeLink, .adminLinks .linkSeparator{
	padding:0px 0px 0px 10px;
	display:block;
}

.adminLinks .linkSeparator{
	display:none;
}

.adminLinks .deleteLink{
	color:red;
}

.adminLinks .activeLink{
	color:#333;
	text-decoration:underline;
}
/* end admin links */


/* profiles */
.profiles{
	width:100%;
	list-style:none;	
	padding:10px 0px 10px 10px;
}

.profiles li, .searchPage .profiles li{
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:10px;
}

.searchPage .profiles li {
	width:545px;
}

.profileContainer .profiles li{
	width:605px;
}

.profiles .unpublishedStory{
	padding:5px;
	background:#f9f9f9;
	border: 1px solid #ddd;
}

.leftSide .profiles li .avatarImage{
	width:50px;
	padding:5px 0px 5px 5px;
	margin: 0px 10px 0px 0px;
	text-align:center;
	border:1px solid #ddd;
	float:left;
}

.rightSide .profiles li .avatarImage{
	width:50px;
	margin: 0px 0px 5px 0px;
	text-align:center;
	border:1px solid #ddd;
}

.profiles li .profileUserName{
	font-size:14px;
	padding-bottom:3px;
	text-transform: none;
}
.profiles li .profileCreatedAt, .profiles li .profileMember{
	color:#333;
	font-size:11px;
	float:left;
}

.profiles li .profileCreatedAt{
	float:right;
}

.profiles li .profileMember span{
	text-transform:capitalize;
}

.profiles li .profileAboutMe{
	margin-top: 10px;
	font-size:10px;
	padding: 10px 5px 0px 5px;
}

.profiles li .profileAdmin{
	clear:both;
	display:block;
	width:100%;
}

/* end profiles list*/