<h3><span onmouseover="showHoverContext('bottomLeft', this, '',40,0,'', '','viewYourReputation');"
    onmouseout="hideHoverContext();">Your Reputation:</span>
</h3>
<div id="viewReputation" style="display:none;">
	<div class="featurePopup">
        <div class="popupTitle">Reputation Score (<%=SCORE_TYPES["reputation"][:weight]%>% of your total score)</div>
        <div class="popupSubtitle">The reputation score is derived from the credibility of your reports. It only changes if you do a copyright violation or you are flagged by our community. This is how you can affect your score:</div>
        <ul class="popupList">
            <li>Focus on writing original content that the Allvoices community appreciates</li>
            <li>Write frequently</li>
        </ul>
   </div>
</div>