<div class="formContainer">
	
	<div class="formHeading">
		<h2>
			<%=t("common.blog.create")%>
		</h2>
	</div>
	
	<div class="formDescription">
		
		<p>
			<div class="required"><span>*</span><%=t("form.required").capitalize%></div>
		</p>
		
	</div>
	
	<div class="formBody">
		<%= render :partial=>"form"%>
	</div>

</div>