<ul>
	<li<%if selected=='settings'%> class='selected'<%end%>><%=link_to t("settings.navigation.settings"), account_settings_path%></li>
	<%if OauthConnect.has_twitter? || OauthConnect.has_facebook?%>
		<li<%if selected=='notification_settings'%> class='selected'<%end%>><%=link_to t("settings.navigation.notification"), account_notification_setting_path%></li>
	<%end%>
	<%if OauthConnect.has_twitter?%>
		<li<%if selected=='twitter'%> class='selected'<%end%>><%=link_to t("settings.navigation.twitter"), account_twitter_account_path%></li>
	<%end%>
	<%if OauthConnect.has_facebook?%>
		<li<%if selected=='facebook'%> class='selected'<%end%>><%=link_to t("settings.navigation.facebook"), account_facebook_account_path%></li>
	<%end%>
</ul>