<% if categories && !categories.empty?%>
	<h2 class="categoryHeader"><%=t("common.category.display").pluralize.capitalize%></h2>
	<div class="categoryContainer">
		<ul>
			<li><a href="/" title="home" rel="nofollow">Home</a></li>
			<%categories.each do |category|%>
				<li class="separator">|</li>
				<li<%if @category==category%> class="selectedCategory"<%end%>><%=link_to category.name, "/category/#{category.seo_name}"%></li>
			<%end%>
		</ul>
	</div>
<%end%>