<!-- category HOME PAGE -->
<div class="postsPage">
	<div class="leftSide">
		<%= render :partial => "categories/category_list", :locals => { :categories => @categories, :show_pagination => true, :cache_key => "landing_page" }%>
	</div>
	 
	<div class="rightSide">
		<%if is_admin?%>
			<div class="adminLinks">
				<h3><%=t("admin.label").capitalize%></h3>
				<%=link_to "Create", new_category_path, :class=>"editLink"%>
			</div>
		<%end%>
	</div>
</div>