<div class="postContainer">
	
	<%apply_fragment ["category_header_", @category, is_admin?] do %>
		<div class="postHeading">
			<h2>
				<%=@category.name%> 
			</h2>
		</div>
	<%end%>
	
	<div class="postDescription">
		<%=render :partial => "shared/admin_links", :locals =>{
			:edit_link => edit_category_path(@category),
			:show_publishing_links => false,
			:delete_link => category_path(@category),
			:confirm_message => t("common.category.delete")
		} if is_admin?%>
		
	</div>
	
	<div class="postBody">
		<%=@category.description if @category.description && !@category.description.blank?%>
	</div>
	
</div>